.nav-menu {
  height: 10vh;
  font-family: 'Roboto', sans-serif;  
}

.homepage {
  height: 90vh;
  padding: 2vh 0 0 2vh;
  background-color: #200382;
  color: white;
  font-family: 'Roboto', sans-serif;  
  font-size: 1.5rem;
  text-align: center;
}

.weapon-card {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw;
  grid-gap: 10px;
  padding-left: 3vw;
}

.ui.card {
  width: 20vw;
}

.frame-card {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw;
  grid-gap: 10px;
  padding-left: 3vw;
}
