
.nav-menu {
  height: 10vh;
  font-family: 'Roboto', sans-serif;
}

.homepage {
  height: 90vh;
  padding: 2vh 0 0 2vh;
  background-color: #1d1b24;
  color: white;
  font-family: 'Roboto', sans-serif;  
  font-size: 1.5rem;
  text-align: center;
}

.home-logo {
  max-width: 70vw;
  padding: 7rem
}

.home-text {
  font-size: 2rem;
  color: #908e94;
}

.weapon-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  width: 20vw;
  height: 40vh;
  margin: 1.5vh 0 0 1vw;
  padding: 0 0 1vh 1.5vw;
  border: 2px solid grey;
  border-radius: 10px;
  position: relative;
}

.header {
  padding-bottom: 10px;
}

.image {
  max-width: 10vw;
}

.checkbox {
  position: absolute;
  bottom: 0
}

.frame-image {
  max-height: 25vh;
}

.frame-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
