.navbar {
  background-color: #01779E;
}

/* Navbar Dropdown Menu */

.dropbtn {
  background-color: #45d0e6;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.fa-bars {
  font-size: 2.5rem;
  width: 4vw
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #45a8e6;
}


/* homepage */

.homepage {
  height: 90vh;
  padding: 2vh 0 0 2vh;
  background-color: #242229;
  color: white;
  font-family: 'Roboto', sans-serif;  
  font-size: 1.5rem;
  text-align: center;
}

.home-logo {
  max-width: 70vw;
  padding: 7rem
}

.home-text {
  font-size: 2rem;
  color: #908e94;
}

/* Display Cards */

.weapon-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #242229;
}

.frame-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #242229;
}

.weapon-card-container {
  width: 20vw;
  height: 45vh;
  margin: 1.5vh 0 0 1vw;
  padding: 0 0 1vh 1.5vw;
  border: 2px solid grey;
  border-radius: 10px;
  position: relative;
  background-color: white;
}

.frame-card-container {
  width: 20vw;
  height: 53vh;
  margin: 1.5vh 0 0 1vw;
  padding: 0 0 1vh 1.5vw;
  border: 2px solid grey;
  border-radius: 10px;
  position: relative;
  background-color: white;
}

.header {
  padding-bottom: 10px;
  padding-top: 10px
}

.weapon-image-container {
  display: flex;
  justify-content: center;
  margin-top: 1vh
}

.weapon-image {
  max-width: 10vw;
}

.frame-image-container {
  display: flex;
  justify-content: center;
  margin-top: 1vh
}

.frame-image {
  max-height: 25vh
}

.description {
  margin-right: 2vw
}

.checkbox {
  position: absolute;
  bottom: 0;
  margin-bottom: 2vh
}
